@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

html {
    font-family: 'Open Sans';
}

.header {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

#title.header {
    font-size: 64px;
}

#subTitle.header {
    font-size: 32px
}